.ST2-book__slider .slick-prev {
    left: 0;
    margin-top: -2px; }

.ST2-book__slider .slick-next {
    right: 0;
    margin-top: -2px; }
.ST2-book__slider .slick-prev::before,
.ST2-book__slider .slick-next::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: red;
    background: url("../images/forward.png") no-repeat center center; }

.ST2-book__slider .slick-prev::before {
    transform: rotate(180deg); }

.STSS__roomsNew__item__ssr__qty__label{
    margin-right: 4px;}
.STSS__roomsNew__acc > div strong, .STSS__roomsNew__item__ssr > div strong{
    padding-right:15px;}

.STSS__accItem__photo {
    width: 125px;
    height: 125px;
}
.STSS__accItem__priceNew__button {
    cursor: default;
}
.STSS__accItem__priceNew--add {
    cursor: pointer;
}

.STSS__accItem__desc__tgl-txt .panel-body{
    padding-top: 10px;
}

.STSS__accItem__desc__tgl-txt {
    color: rgb(143, 143, 143);
}


.STSS__accItem__desc__tgl{
    position: absolute;
    bottom:0;
}