.ui-datepicker{
    background-color: $date-picker-bkg-color;
    width: 300px;
    padding: 15px;
    border: 1px solid $date-picker-border-color;
    margin-top: 7px;
    z-index: 100 !important;
    font:{
        family: $font-family-sans-serif;
        size: $font-size-base;
    }
    .DP-custom{
        text-transform: uppercase;
        width: 100%;
        display: block;
        position: relative;
        border-bottom: 1px solid $date-picker-border-color;
        padding-bottom: 10px;
        margin-bottom: 10px;
        position: relative;
        &:before,
        &:after{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 6.5px 0 6.5px;
            border-color: $date-picker-bkg-color transparent transparent transparent;
            top: -17px;
            left: 0px;
            z-index: 101;
        }
        &:after{
            border-color: $date-picker-border-color transparent transparent transparent;
            top: -15px;
            z-index: 100;
        }
        b{
			@extend .close-btn;
        }

    }
    th{
        text-transform: uppercase;
    }
    td{
        $cellSize: 40px;
        border: 1px solid $date-picker-border-color;
        height: $cellSize;
        width: $cellSize;
        text-align: center;
        background-color: $date-picker-active-days-bkg;
        a, 
        span {
            text-align: center;
            color: $date-picker-days-color;
            font-weight: bold;
        }
        span{
            color: lighten($date-picker-days-color, 50%);
        }
        &.ui-datepicker-week-end {
            background-color: $date-picker-weekend-days-bkg;
        }
        &.ui-datepicker-other-month{
            visibility: hidden;
            border: none !important;
            background-color: $date-picker-active-days-bkg !important;
        }
        &.DP-fisrt-day-checkIn,
        &.DP-fisrt-day-checkOut,
        &.ui-datepicker-current-day:not(.ui-datepicker-unselectable),
        &.DP-custom__td-hover:not(.ui-datepicker-unselectable){
            border-color:$date-picker-sel-border-color;
            border-width: 2px;
            background-color: $date-picker-sel-bkg-color;
            a,
            span{
                position:relative;
                &:after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    top: 50%;
                    left: -1px;
                    border-width: 4px 0 4px 6px;
                    border-color: transparent transparent transparent $date-picker-sel-border-color;
                    transform: translateY(-3px);
                }
            }
        }
        &.DP-fisrt-day-checkOut{
            a,
            span{
                position:relative;
                &:after{
                    left: auto;
    	            right: -1px;
                    border-width: 4px 6px 4px 0;
                    border-color: transparent $date-picker-sel-border-color transparent transparent;
                    
                }
            }
        }
        &.DP-book-interval{
            border-color:$date-picker-sel-border-color;
            border-width: 1px;
            background-color: $date-picker-sel-bkg-color;
        }
    }

    &.DP-CO-cls{
        td{
            &.ui-datepicker-current-day:not(.ui-datepicker-unselectable),
            &.DP-custom__td-hover:not(.ui-datepicker-unselectable){
                a,
                span{
                    position:relative;
                    &:after{
                        left: auto;
                        right: -1px;
                        border-width: 4px 6px 4px 0;
                        border-color: transparent $date-picker-sel-border-color transparent transparent;
    		        }
                }
	        }
	    }
    }
    .ui-datepicker-next,
    .ui-datepicker-prev{
    	$size: 12px;
    	cursor: pointer;
    	background:{
    		image: url('../images/svg/keyboard53.svg');
    		size: $size $size;
    		repeat: no-repeat;
    		position: center center;
    	}
    }
    .ui-datepicker-prev{
    	background-image: url('../images/svg/left216.svg');
    }
}
